requests
urllib3
python-dotenv

chromadb
langchain
unstructured
unstructured[csv]
sentence-transformers
openai
langchain-openai
langchain_community
langchain_core
langchain_chroma
langchain_huggingface
langchain-anthropic